.chart {
    -fx-padding: 0.1px;
    //-fx-background-image: url("icon.png");   
}

/* .axis {
    -fx-font-size: 1.4em;    
    -fx-tick-label-fill: #914800;
    -fx-font-family: Tahoma;
    -fx-tick-length: 10;
    -fx-minor-tick-length: 5;
}
 */



.chart-series-line {    
    -fx-stroke-width: 2px;
    -fx-effect: null;
}
 
.default-color0.chart-series-line { -fx-stroke: #e9967a; }
.default-color1.chart-series-line { -fx-stroke: #f0e68c; }
.default-color2.chart-series-line { -fx-stroke: #dda0dd; }
.chart-legend {
  -fx-background-color: #336699;
       
    -fx-padding: 10px;
}
 
.chart-legend-item-symbol{
   -fx-background-radius: 0;
}
 

 



 



 
.chart-pie-label-line {
    -fx-stroke: #8b4513;
    -fx-fill: #8b4513;
}
 
.chart-pie-label {
    -fx-fill: #8b4513;
    -fx-font-size: 1em;
} 
.chart-legend {
   -fx-background-color:  #fafad2;
   -fx-stroke: #daa520;
}
.chart-content {
    -fx-padding: 15px;    
}
 
.chart-title {
  -fx-text-fill: #4682b4;
  -fx-font-size: 1.6em;
}
 
.axis-label {
  -fx-text-fill: #4682b4;
}
.axis-tick-mark {
    -fx-stroke: #637040;
    -fx-stroke-width: 3; 
}
.axis-minor-tick-mark {
    -fx-stroke: #859656;
}
.chart-legend-item{
    -fx-text-fill: #191970;
}
.axis-label {
   -fx-text-fill: #462300; 
}
.chart-plot-background {
    -fx-background-color: rgba(0,100,0,0.05);
}
.chart-vertical-grid-lines {
    -fx-stroke: #3278fa;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #3278fa;
}

.chart-bar {
    -fx-background-color: rgba(0,168,355,0.9);
  
    -fx-background-radius: 0;
    //-fx-background-position: left center;
}
.chart-alternative-row-fill {
    -fx-fill: rgba(0,100,0,0.05);
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}