.root {
    -fx-background-color: linear-gradient(to bottom, derive(lavenderblush, -10%), derive(mistyrose, 10%));
    -fx-border-color: derive(mistyrose, -20%);
    -fx-background-image:url( images/blue.jpg);
    -fx-background-repeat: repeat;
    -fx-font-size: 20;
    -fx-font-family: "Segoe UI Semibold";
    -fx-padding: 0;
}
.vbox
{
    -fx-background-color:blue;
    -fx-background-size:50%,50%;
}
.hbox {
    -fx-background-color: #DFB951;
    
    -fx-padding: 0;
    -fx-spacing: 0;
    
    
   
    //-fx-background-size: 200px, 200px;
    
}
.text-field
{
     -fx-background-color: transparent, white, transparent, white; 
    //-fx-border-color: rgb(49, 89, 23);
    -fx-size-height: 10;
    -fx-text-fill : blueviolet;
}
.hyperlink
{
    -fx-font:  italic 9pt "Verdana";
    -fx-text-fill: rgb(0, 0, 100);
}
/* .button{
    -fx-text-fill: rgb(0, 0, 100);
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 0;
    -fx-padding: 5 5 5 5;
    -fx-margin : 0 0 0 0; 
    //-fx-background-insets: 0 0 0 0;
//-fx-border-insets: 0 0 0 0;
       -fx-font: bold italic 7pt "Verdana";
    -fx-effect: dropshadow( one-pass-box , blue , 8 , 0.0 , 2 , 0 );

 }*/
 
 #monthID{
    -fx-text-fill: rgb(0, 0, 100);
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 0;
    -fx-padding: 2 2 2 2;
    -fx-margin : 0 0 0 0; 
    //-fx-background-insets: 0 0 0 0;
//-fx-border-insets: 0 0 0 0;
       -fx-font: bold italic 5pt "Verdana";
    -fx-effect: dropshadow( one-pass-box , blue , 8 , 0.0 , 2 , 0 );

 }
 #topGrid
 {
       -fx-padding: 5 5 5 5;
        
 }
.button:hover {
   // -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
#btnEdit
{
    -fx-background-image:url( images/blue.jpg);
    -fx-background-color: #DFB951;
}
#btnDelete
{
    -fx-background-image:url( images/blue.jpg);
    -fx-background-color: #DFB951;
    -fx-size : 30;
}
.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
.button1{
    -fx-text-fill: #006464;
    -fx-background-color: #DFB951;
    -fx-border-radius: 20;
    -fx-background-radius: 0;
    -fx-padding: 5;
}
#font-button {
    -fx-font: bold italic 20pt "Arial";
    -fx-effect: dropshadow( one-pass-box , blue , 8 , 0.0 , 2 , 0 );
}
.lyric-text {
-fx-font-size: 20;
-fx-fill: darkgreen;
-fx-font-weight: bold;
-fx-text-alignment: center;
}
 
.sidebar {
-fx-padding: 10 10 10 10;
-fx-background-insets: 0 10 0 0;
-fx-border-insets: 0 10 0 0;
-fx-background-color: linear-gradient(to bottom, derive(lavenderblush, -10%), derive(mistyrose, 10%));
-fx-border-color: derive(mistyrose, -20%);
-fx-border-width: 4;
}
 
